In [1]:
import pandas as pd

df = pd.read_excel("final2.xlsx")

This calculates total pounds per grade. Computes total boxes as (pallets × boxes_per_pallet) + cases. Calculates total lbs as total_boxes × box_weight.
Groups by 'grade', sums total lbs, and sorts descending

In [3]:
# Calculate total lbs per grade
boxes_per_pallet = {
    '11lb': 200,
    '9lb': 220,
    '7lb': 260,
    '4lb': 448,
    '2lb': 1024,
    '1lb': 1536
}

df['box_weight'] = df['box_size'].str.replace('lb', '').astype(float)
df['boxes_per_pallet'] = df['box_size'].map(boxes_per_pallet).fillna(0)
df['total_boxes'] = df['pallets'].fillna(0) * df['boxes_per_pallet'] + df['cases'].fillna(0)
df['total_lbs'] = df['total_boxes'] * df['box_weight']

grade_totals = df.groupby('grade')['total_lbs'].sum().sort_values(ascending=False)

# Format numbers with commas for readability
grade_totals = grade_totals.apply(lambda x: f"{x:,.0f}")

grade_totals

grade
Fancy            593,266
Choice           112,088
Large            105,654
Large Soft         5,376
Large Organic      4,320
Jumbo              4,242
Fancy Organic      4,096
Fancy Soft         1,792
Soft Jumbo           400
Name: total_lbs, dtype: object

The customer distribution (sorted by total lbs descending) shows:

In [4]:
# Calculate distribution per customer
customer_summary = df.groupby('customer_name').agg({
    'pallets': 'sum',  # total pallets ordered
    'total_lbs': 'sum',
    'total_boxes': 'sum'
}).reset_index()

customer_summary = customer_summary.rename(columns={'pallets': 'total_pallets_ordered'})
customer_summary = customer_summary.sort_values('total_lbs', ascending=False)

# Format numbers with commas for readability
customer_summary['total_pallets_ordered'] = customer_summary['total_pallets_ordered'].apply(lambda x: f"{x:,.0f}")
customer_summary['total_lbs'] = customer_summary['total_lbs'].apply(lambda x: f"{x:,.0f}")
customer_summary['total_boxes'] = customer_summary['total_boxes'].apply(lambda x: f"{x:,.0f}")

customer_summary

                    customer_name total_pallets_ordered total_lbs total_boxes
11                   Lipari Foods                   144   288,932      40,013
14                     OM produce                    43    83,792      34,736
3                           Deshi                    40    77,920      27,296
4                    Famous Foods                    40    76,160      29,312
7                        HolyLand                    29    67,076      16,044
8                   India Farmers                    16    53,614      11,188
12                      New Royal                    22    46,160       8,688
5                   General Meats                    16    32,008       6,376
9     International Market (SHAY)                    13    26,560       3,840
0                        Blue Fig                    10    24,340       5,884
15                           YAFA                    10    19,148       6,886
10                    Kemal Pasha                     6    12,288       6,144
6               Green Vine Market                     4     7,168       1,792
13                     OM Produce                     4     7,168       5,120
2   Daar Al-Islam Mosque St.Louis                     3     6,600         600
1                    Cedar Market                     0     2,300         450

In [5]:
# Most ordered box sizes by total boxes
box_size_summary = df.groupby('box_size')['total_boxes'].sum().sort_values(ascending=False)

# Format numbers with commas for readability
box_size_summary = box_size_summary.apply(lambda x: f"{x:,.0f}")

box_size_summary

box_size
2lb     71,492
4lb     48,311
1lb     40,006
11lb    32,020
7lb      9,360
9lb      2,640
25lb       540
Name: total_boxes, dtype: object

The most ordered box sizes by total boxes (sorted descending) are:

- 2lb: 71,492 boxes
- 4lb: 48,311 boxes
- 1lb: 40,006 boxes
- 11lb: 32,020 boxes
- 7lb: 9,360 boxes
- 9lb: 2,640 boxes
- 25lb: 540 boxes

This shows smaller box sizes (2lb, 4lb, 1lb) dominate the orders in terms of box count.